Day 2

Session 1: Pandas - Introduction to Pandas for data analysis, including reading and manipulating data frames, selecting data, and basic data exploration.

Session 2: Functions - Introduction to functions in Python, including how to define and call functions, function arguments, and variable scope.

Session 3: Numerical Methods - Introduction to numerical methods in Python, including solving differential equations using ODEINT and integrating functions using quad.

Exercise: 

The following two equations seem similar, but equation 1 can be solved (for r) analytically (try it out!), but not equation 2! 

$$10 = 5\log{\frac{r}{10}}$$
$$10 = 5\log{\frac{r}{10}}+0.002r$$

We will use numerical methods to solve equation 2, more specifically, the iterative method.

In [2]:
# use iterative method to solve the problem 10=5log(r/10)+0.002r

import numpy as np
import matplotlib.pyplot as plt

# define the function
def f(r):
    return 10**(2-0.0004*r)*10

Rewrite the equation in the form of (try derive):
$$r=10Ã—10^{2-0.0004r}$$
Then use 1000 as the initial value, run a 100 iteration

In [5]:
r = 1000
for i in range (20):
    r = f(r)
    print("Number of Iteration: ", i+1, " Value of r: ",  r)

Number of Iteration:  1  Value of r:  398.1071705534973
Number of Iteration:  2  Value of r:  693.0381335543425
Number of Iteration:  3  Value of r:  528.1833984276446
Number of Iteration:  4  Value of r:  614.7897817911412
Number of Iteration:  5  Value of r:  567.654502969976
Number of Iteration:  6  Value of r:  592.8409558305243
Number of Iteration:  7  Value of r:  579.2467658853818
Number of Iteration:  8  Value of r:  586.5449414464675
Number of Iteration:  9  Value of r:  582.6154851536324
Number of Iteration:  10  Value of r:  584.727885812272
Number of Iteration:  11  Value of r:  583.5913493623659
Number of Iteration:  12  Value of r:  584.2025660759019
Number of Iteration:  13  Value of r:  583.8737809787382
Number of Iteration:  14  Value of r:  584.0506177335104
Number of Iteration:  15  Value of r:  583.9554995961669
Number of Iteration:  16  Value of r:  584.006660451167
Number of Iteration:  17  Value of r:  583.9791421865931
Number of Iteration:  18  Value of r:  583.9939434763743
Number of Iteration:  19  Value of r:  583.985982238063
Number of Iteration:  20  Value of r:  583.9902643727103

Exercise 2: 

Let's use the numerical method to estimate the value of $\pi$.
https://medium.com/the-modern-scientist/estimating-pi-using-monte-carlo-methods-dbdf26c888d6#:~:text=Multiply%20the%20ratio%20by%204%20to%20estimate%20the,circle%2C%20we%20can%20estimate%20the%20value%20of%20pi.

In [20]:
# display image 
from IPython.display import Image
Image(url='https://demonstrations.wolfram.com/ApproximatingPiByTheMonteCarloMethod/img/popup_2.png')

In [23]:
# use monte carlo method to estimate pi
import numpy as np
import matplotlib.pyplot as plt

# define the function
def f(x,y):
    return x**2+y**2

# define the number of points
n = 100

# generate random points
x = np.random.rand(n)
y = np.random.rand(n)

# calculate the number of points in the circle
count = 0
for i in range(n):
    if f(x[i],y[i]) <= 1:
        count += 1

# calculate pi

pi = 4*count/n
print(pi)

3.36

Session 4: Advanced Plotting - Introduction to advanced plotting techniques in Matplotlib, including customizing plot appearance, using subplots, and adding annotations.

Exercise: Let's Examine Malaysia Population!

In [4]:
# get malaysia population data from kaggle website

# import pandas as pd
import pandas as pd
import wget

url = 'https://raw.githubusercontent.com/MoH-Malaysia/covid19-public/main/static/population.csv'
populationfile = wget.download(url)
df = pd.read_csv(populationfile)
df.head()

          state  idxs       pop    pop_18   pop_60   pop_12    pop_5
0      Malaysia     0  32657100  23528200  3649000  3111400  3550500
1  Klang Valley    17   8417800   6181800   827600   719000   895100
2         Johor     1   3794200   2733400   445600   353900   409800
3         Kedah     2   2193600   1554800   282300   209700   254100
4      Kelantan     3   1928900   1258700   202100   211200   271700

In [5]:
df

                state  idxs       pop    pop_18   pop_60   pop_12    pop_5
0            Malaysia     0  32657100  23528200  3649000  3111400  3550500
1        Klang Valley    17   8417800   6181800   827600   719000   895100
2               Johor     1   3794200   2733400   445600   353900   409800
3               Kedah     2   2193600   1554800   282300   209700   254100
4            Kelantan     3   1928900   1258700   202100   211200   271700
5              Melaka     4    937800    683700   123200    85600    98200
6     Negeri Sembilan     5   1128900    819200   150300   105900   117200
7              Pahang     6   1684700   1188000   198100   172000   192600
8               Perak     8   2509000   1878100   410000   228000   239700
9              Perlis     9    255500    182100    36300    23000    29100
10       Pulau Pinang     7   1774200   1374300   247600   139400   155600
11              Sabah    12   3832500   2716600   249000   426200   411000
12            Sarawak    13   2824700   2066100   348300   289200   286000
13           Selangor    10   6555100   4776300   607800   569200   715400
14         Terengganu    11   1275200    822000   120100   138000   178700
15  W.P. Kuala Lumpur    14   1746600   1332700   214200   139200   158300
16        W.P. Labuan    15    100100     69400     8500    10300    11700
17     W.P. Putrajaya    16    116100     72800     5600    10600    21400

Session 5: Conclusion and Next Steps - Review of what has been covered, and discussion of further resources and applications of Python in physics.